<?php echo $header; ?>
<div style="width: 100%;">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OAwvWz6WJiI?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
  </div>
</div>
<?php echo $footer; ?>
