<?php echo $header; ?>
<div style="margin: 0 auto; width: 250px; font-size: 14pt; text-align: center">
<br />
<br />
<br />
Showroom<br />
Jl. Kebon Kacang 41 No. 31<br />
Tanah Abang, Jakarta Pusat<br />
10240 Indonesia<br />
<br />
/<br />
<br />
Open by Appointment<br />
+62 21 3190 9047<br />
<br />
-<br />
<br />
Sales<br />
<br />
sales@aesthetic-pleasure.com<br />
<br />
Press<br />
press@aesthetic-pleasure.com<br />
<br />
ask@aesthetic-pleasure.com<br />
LINE ID : @aestheticpleasure<br />
</div>
<?php echo $footer; ?>
