<?php echo $header; ?>
<div style="margin: 0 auto; width: 250px; font-size: 14pt; text-align: center">
<br />
<br />
<br />
OFFLINE<br />
<br />
-
<br />
the Goods Dept<br />
Jakarta<br />
<br />
Happy Go Lucky<br />
Bandung<br />
<br />
<br />
ONLINE<br />
<br />
-<br />
<br />
prettymuch.com.au<br />
<br />
bobobo.com<br />
</div>
<?php echo $footer; ?>
