body {
  font-family: Perpetua, Baskerville, 'Big Caslon', 'Palatino Linotype', Palatino, 'URW Palladio L', 'Nimbus Roman No9 L', serif;
  font-size: 14px;
  color: white;
  background-color: black;
}

a {
  color: white;
}

.ap-page {
  margin: 0 auto;
  position: relative;
  width: 960px;
  padding-top: 20px;
}

.ap-header-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 20px;
  position: relative;
}

.ap-header-nav li {
  display: inline;
  margin: 0px 13px;
  padding-bottom: 10px;
}

.ap-header-nav li:hover {
  border-bottom: 2px solid white;
}

footer {
  display: none
}
